{#
/**
 * Available variables
 *
 * orgtype the type of organisation
 * treasurer the uid of the treasurer
 * channels an array
 * channel_names an array of translated communication channels
 * responsible a multidimensional array of people's responsibilities keyed by org and person's name
 * treasurer_link
 * editor_link The name of the user who last edited this statement,
 * site_mail The mail of the user who last edited this statement,
 *
 */
#}

<h4>{{ 'Url'|t }}</h4>
{{ httphost }}
<br />
<h4>{{ 'Contact email'|t }}</h4>
{{ site_mail }}

<h4>{{ 'Hosted by' }}</h4>
{{ host_org }}
<br />

<h4>{{ 'People with access to users\' data'|t }}</h4>
<table>
  {% for org, people in responsible %}
    <theader><th colspan = "2"> {{org }}</theader>
    <tbody>
    {% for name, role in people %}
      <tr><td>{{ name }}</td><td>{{ role }}</td></tr>
    {% endfor %}
    </tbody>
  {% endfor %}
</table>
